*{
    padding:0;
    margin:0;
}

body{
    background: whitesmoke;
}

main{
    width:calc(75% - 60px);
    float:left;
    padding:30px;
    background:white;
}
aside{
    width: calc(25% - 60px);
    float: left;
    border-left: none;
    padding:30px;
    background:white;
}
footer{
    clear:both;
    padding:30px;
    background:white;
}

.logoContainer{
    float:left;
    width:200px;
}

.logoContainer .logo{
    max-width:100%;
}

nav{
    float:right;
}

ul{
    list-style-type: none;
    background:black;
}

li{
    display:inline-block;
    padding:10px 20px;
}

li:hover{
    background: rgb(63, 63, 63);
}

nav li a{
    color:rgb(255, 255, 255);
}

li.active{
    background: rgb(148, 148, 148);
}

.clearfix{
    clear:both;
}

.heroImage{
    width:100%;
}

.heroImage .imageContainer{
    height:300px;
    max-height:300px;
    background-image:url('https://images.pexels.com/photos/168938/pexels-photo-168938.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    position:relative;
}

.heroImage .imageContainer .imageCaption{
    position:absolute;
    padding:20px;
    background:black;
    color:white;
    bottom:30px;
    left:30px;
}

.mainContentContainer{
    max-width:900px;
    margin:0 auto;
    background:white;
    -webkit-box-shadow: 5px 5px 11px 2px rgba(0,0,0,0.24); 
    box-shadow: 5px 5px 11px 2px rgba(0,0,0,0.24);
}
        
.youTubeembed{
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: 100%;
}
.logo{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    width: 98px;
    height: 34px;
}
.spotifyEmbed{
    margin-top: 30px;
    margin-bottom: 30px;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica;
}
